/* global style */
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    min-width: 22rem;
}

/* style header */
.header {
    padding: 10px 15vw;
    flex-direction: column;
}

.nav {
    justify-content: space-between;
}

.nav-right {
    gap: 2rem;
}

.logo {
    width: 50px;
}

.nav li {
    align-items: center;
}

/* header down */
.header-down {
    justify-content: space-between;
    margin: 3rem 0;
}

.header-down-left {
    width: 22rem;
    flex: 1 1 auto;
}

.header-down-right {
    width: 22rem;
}

/* style block 2 */
.block2 {
    padding: 0 15vw;
}

.cards {
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
}

.card {
    width: 200px;
}

.block2 p {
    text-align: center;
}

.block2-title {
    margin: 3rem 0;
}

/* style block 3 */
.block3 {
    padding: 6rem 15vw;
    justify-content: center;
}

.saenchai {
    align-self: flex-end;
}

/* style block 4 */
.block4 {
    padding: 3rem 15vw;
    justify-content: center;
}

.callToAction {
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 1rem 0;
}

/* style footer */
.footer {
    justify-content: center;
    padding: 1rem 0;
}