@media (max-width: 1024px) {
  html {
    font-size: 15px; /* Tablet */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Mobile */
  }
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.title {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
}

.subtitle {
    font-size: 1rem;
}

.callToAction, .signup-button1, .signup-button2{
    background-color: #3882F6;
    color: white;
}

.signup-button1, .signup-button2 {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.signup-button1 {
    margin-top: 0.5rem;
}

.signup-button2 {
    border: 1px solid white;
    height: min-content;
    align-self: center;
}

.block2-title {
    font-size: 2.5rem;
    color: #1F2937;
    font-weight: 900;
}

.block3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 2.5rem;
    color: #1F2937;
}

img, .callToAction {
    border-radius: 1rem;
}

.card {
    cursor: pointer;
}